{% extends 'base.html' %}
{% block title %}лучайное число{% endblock title %}

{% block content %}
<section>
    <div class="container">
        <div>
            {% if not login %}
            <h3 id>Необходимо авторизоваться!</h3>
            <h5>или</h5>
            <a href="{% url 'social:begin' 'github' %}">Login with Github</a> <br/>
            {% else %}
            <h2 id="username"> {{ username }} </h2>
            <h3 id="my-number"> {{ number }} </h3>
            {% endif %}
        </div>
    </div>
</section>
<script type="text/javascript">
$(document).ready(function () {
    setInterval(function() {
        $.ajax({
            url: '',
            success: function (response) {
                $('#my-number').empty();
                $('#my-number').append(response.rand_number);
            },
            error: function (response) {
                alert(response.responseJSON.errors);
                console.log(response.responseJSON.errors)
            }
        });
    }, 5000);
})
</script>
{% endblock %}